.hero-section {
  background-image: url('../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg');
  background-color: #e88069;
  color: white;
  text-align: center;
  max-height: 90vh;
  overflow: hidden;
  padding: 1rem;
  padding-top: 3rem;
  border-radius: 1rem;
}

.hero-heading {
  font-weight: 400;
  line-height: 2.5rem;
}

.hero-paragraph {
  margin: 1rem 0;
}

.hero-btn {
  background-color: white;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  margin-bottom: 0;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #e88069;
  color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
}

.image-container {
  overflow-y: hidden;
  padding-top: 5rem;
  outline: none;
  border: none;
}

.hero-image {
  display: block;
  width: 100%;
  margin: auto;
  object-fit: cover;
  transform: scale(160%);
  object-fit: cover;
}

@media (min-width: 640px) {
  .hero-section {
    background-image: url('../../assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg');
    max-height: 75vh;
    background-position: center;
    background-size: cover;
  }

  .hero_text,
  .image-container {
    width: 50%;
    margin: auto;
  }

  .image-container {
    overflow-x: hidden;
  }
}

@media (min-width: 850px) {
  .hero-section {
    display: flex;
    align-items: center;
    max-height: 80vh;
    padding: 5rem 5rem;
    padding-bottom: 0;
    width: 90%;
    margin: auto;
  }

  .hero_text {
    text-align: left;
    width: 70%;
  }

  .hero-image {
    transform: scale(150%);
  }

  .image-container {
    padding-top: 0;
    overflow: visible;
  }
}
