.portfolio_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #e88069;
  padding: 5rem 1rem;
  text-align: center;
  background-image: url('../../assets/app-design/desktop/bg-pattern-intro-app.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio_intro h1 {
  margin: 1rem 0;
}

@media (min-width: 640px) {
  .portfolio_intro {
    padding: 5rem 25vw;
  }
}
