.location_illustrations_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.location_item {
  text-align: center;
  background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
  background-repeat: no-repeat;
  background-position: top, center;
  margin: 2rem 0;
}

.location_item h2 {
  margin: 1.5rem 0;
}

.view_location_btn {
  background-color: #e88069;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-weight: bold;
}

.view_location_btn:hover {
  background-color: white;
  color: #e88069;
  border: 1px solid #e88069;
}

@media (min-width: 850px) {
  .location_illustrations_container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-around;
  }
}
