nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: relative;
  z-index: 12;
}

.site-logo {
  width: 60%;
}

.menu_list {
  background-color: black;
  color: white;
  padding: 1rem;
  position: absolute;
  top: 5.65rem;
  left: 0;
  right: 0;
  font-size: larger;
}

.menu_list a {
  margin: 1rem 0;
  text-decoration: none;
  display: block;
}

.menu_list a:hover {
  color: #e88069;
}

@media (min-width: 850px) {
  nav {
    padding: 2rem 5%;
  }

  .menu_list {
    background-color: white;
    color: black;
    padding: 1rem;
    position: static;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding: 0;
  }

  .menu_list a {
    margin: 0;
  }
}
