.location_text {
  background-color: #e880694f;
  text-align: center;
  padding: 5rem 1rem;
}

.location_name {
  color: #e88069;
  margin: 1.5rem 0;
}

.office_name,
.contact_text {
  font-weight: bold;
}

.location_detail_section {
  margin: 1rem 0;
}

.location_details {
  margin-bottom: 2rem;
}

.locations {
  margin-bottom: 12rem;
}

.location_map {
  width: 100%;
  display: block;
}

@media (min-width: 850px) {
  .location_container {
    width: 90%;
    margin: auto;
  }

  .location_details {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .location_text {
    width: 59%;
    padding: 4rem 4rem;
    padding-right: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-radius: 1rem;
  }

  .map_container {
    width: 39%;
    border-radius: 1rem;
    overflow: hidden;
  }

  /* .location_container {
    height: 20vh;
  } */
}
