footer {
  background-color: black;
  color: white;
  padding: 1rem;
  padding-top: 14rem;
}

.footer_logo {
  width: 65%;
  margin: 1.5rem auto;
  display: block;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.527);
}

.footer_links {
  margin: 2rem auto;
  width: 80%;
  text-align: center;
  font-size: large;
}

.footer_links p {
  margin: 1rem 0;
}

.footer_links p:hover {
  color: #e88069;
}

address {
  color: rgba(255, 255, 255, 0.527);
  font-style: normal;
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}

address > .title {
  font-weight: bold;
}

.contact_information {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.527);
  text-align: center;
}

.socials {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 640px) {
  .footer_logo {
    width: 40%;
    margin: 1.5rem auto;
    display: block;
  }

  footer {
    padding: 25vw;
    padding-bottom: 2rem;
  }
}

@media (min-width: 850px) {
  .footer_logo {
    width: 60%;
    margin: 0;
  }

  hr {
    display: none;
  }

  .footer_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin: 0;
  }

  footer {
    padding: 22vh 5vw;
    padding-bottom: 2rem;
  }

  .logo_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .sub_footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2rem 0;
  }

  .address_details_container {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }

  address,
  .contact_information {
    text-align: left;
  }

  .socials {
    width: 25%;
    margin: 0;
  }
}
