.real-deal {
  margin-bottom: 14rem;
}

.real_deal_text {
  background-color: #e880694f;
  color: black;
  padding: 0, 1rem;
  padding: 3rem 1rem;
  text-align: center;
  background-image: url('../../assets/about/mobile/bg-pattern-hero-about-mobile.svg');
  background-repeat: no-repeat;
  background-position: top, center;
}

.real_deal_text h1 {
  color: #e88069;
}

.real_deal_text p {
  margin: 2rem 0;
}

@media (min-width: 640px) {
  .real_deal_text {
    padding: 3rem 25%;
  }
}

@media (min-width: 850px) {
  .real-deal {
    width: 90%;
    display: flex;
    margin: auto;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 13rem;
  }

  .real_deal_text {
    width: 65%;
    padding: 3rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .real_image_container {
    width: 35%;
  }
}
